@import "https://cdn.jsdelivr.net/npm/bulma@latest/css/bulma.min.css";
/*
.pfp {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/img/pfp.png");
}
*/
svg {
  width: 16px;
  height: 16px;
  fill: var(--bulma-body-color);
}

img[data-testid="gr8brik-icon"] {
  width: 16px;
  height: 16px;
  background: color var(--bulma-body-color);
  /*filter: drop-shadow(0px 1000px 0 var(--bulma-body-color));
  transform: translateY(-1000px);*/
}
