:root {
  --backgroundcolor: #fafafa;
  --antibackgroundcolor: #333333;
}

body {
    background-color: var(--backgroundcolor);
    color: var(--antibackgroundcolor);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

iframe {
  border: none;
}

a:not(.button), a:not(.button):hover, a:not(.button):visited, a:not(.button):active {
  color: #d3d3d3;
  text-decoration: none;
}

.container {
  padding: 15px 15px 15px 15px;
}

.border {
  border: 1px #fafafa solid;
}

a.button {
  cursor: pointer;
  color: #333333;
  background-color: #d3d3d3;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}

.button:hover {
  background-color: #333333;
  color: #fafafafa;
}

svg {
  width: 16px;
  height: 16px;
  fill: var(--antibackgroundcolor);
}

svg[data-testid="gr8brik-icon"] {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.nav-social {
  display: inline-block;
}

#gr8-logo {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url('/gr8brik/logo/simplelogo_lightmode.svg');
}

@media (prefers-color-scheme: dark) {
  :root {
    --backgroundcolor: #333333;
    --antibackgroundcolor: #fafafa;
  }

  .button:hover {
    background-color: #fafafa;
    color: #333333;
  }

  #gr8-logo {
    background-image:url('/gr8brik/logo/simplelogo_darkmode.svg');
  }
}