@import "https://cdn.jsdelivr.net/npm/bulma@latest/css/bulma.min.css";
/*
.pfp {
  width: 100px;
  height: 100px;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/img/pfp.png");
}
*/
svg {
  width: 16px;
  height: 16px;
  fill: var(--bulma-body-color);
}

svg[data-testid="gr8brik-icon"] {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
